body {
  margin: 0;
  background-color: aqua;
}

/* Header */

.header {
  font-family: Inter, sans-serif;
  color: white;
  text-align: center;
}

.header > h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.header > h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.arrow-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.arrow {
  height: 2px;
  background-color: white;
  flex: 0 1 500px;
  position: relative;
  max-width: 700px;
}

.shaft-left::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid white;
}

.shaft-right::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid white;
}

.square {
  height: 15px;
  width: 15px;
  background-color: white;
  transform: rotate(45deg);
}

